body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #000;
  color: #f0f0f0;
}

h2 {
  text-align: center;
  font-size: 26px;
  background: linear-gradient(to right, #0A2356, #A52B3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

input, textarea, select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #111;
  color: #f0f0f0;
}

.linha {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.linha input, .linha select {
  flex: 1;
}

.fixo {
  background-color: #111;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  background: linear-gradient(to right, #0A2356, #A52B3D);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#resultado {
  margin-top: 20px;
  white-space: pre-wrap;
  background: #111;
  padding: 20px;
  border: 1px solid #444;
  font-family: monospace;
  color: #f0f0f0;
}
